Pandas Library

In [16]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [17]:
import pandas as pd

In [18]:
data = pd.read_csv("/content/sample_data/Chocolate Sales (2) (1).csv")

In [19]:
print (data)

          Sales Person    Country              Product        Date  \
0       Jehu Rudeforth         UK      Mint Chip Choco  04/01/2022
1          Van Tuxwell      India        85% Dark Bars  01/08/2022
2         Gigi Bohling      India  Peanut Butter Cubes  07/07/2022
3         Jan Morforth  Australia  Peanut Butter Cubes  27/04/2022
4       Jehu Rudeforth         UK  Peanut Butter Cubes  24/02/2022
...                ...        ...                  ...         ...
3277  Karlen McCaffrey  Australia  Spicy Special Slims  17/05/2024
3278    Jehu Rudeforth        USA           White Choc  07/06/2024
3279      Ches Bonnell     Canada  Organic Choco Syrup  26/07/2024
3280    Dotty Strutley      India              Eclairs  28/07/2024
3281  Karlen McCaffrey      India       70% Dark Bites  23/05/2024

          Amount  Boxes Shipped
0      $5,320.00            180
1      $7,896.00             94
2      $4,501.00             91
3     $12,726.00            342
4     $13,685.00            184
...          ...            ...
3277   $5,303.58            354
3278   $7,339.32            121
3279     $616.09            238
3280   $2,504.62            397
3281   $5,915.87            355

[3282 rows x 6 columns]

In [20]:
type(data)

pandas.core.frame.DataFrame

In [21]:
data.head(10)

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
1,Van Tuxwell,India,85% Dark Bars,01/08/2022,"$7,896.00",94
2,Gigi Bohling,India,Peanut Butter Cubes,07/07/2022,"$4,501.00",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27/04/2022,"$12,726.00",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24/02/2022,"$13,685.00",184
5,Van Tuxwell,India,Smooth Sliky Salty,06/06/2022,"$5,376.00",38
6,Oby Sorrel,UK,99% Dark & Pure,25/01/2022,"$13,685.00",176
7,Gunar Cockshoot,Australia,After Nines,24/03/2022,"$3,080.00",73
8,Jehu Rudeforth,New Zealand,50% Dark Bites,20/04/2022,"$3,990.00",59
9,Brien Boise,Australia,99% Dark & Pure,04/07/2022,"$2,835.00",102

In [22]:
data.tail(10)

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
3272,Roddy Speechley,India,50% Dark Bites,14/03/2024,"$9,976.22",12
3273,Barr Faughny,New Zealand,99% Dark & Pure,24/05/2024,"$9,152.72",208
3274,Dennison Crosswaite,Canada,Organic Choco Syrup,28/01/2024,"$9,251.37",79
3275,Beverie Moffet,India,Almond Choco,24/05/2024,"$3,634.26",100
3276,Brien Boise,Australia,Peanut Butter Cubes,19/08/2024,$352.51,196
3277,Karlen McCaffrey,Australia,Spicy Special Slims,17/05/2024,"$5,303.58",354
3278,Jehu Rudeforth,USA,White Choc,07/06/2024,"$7,339.32",121
3279,Ches Bonnell,Canada,Organic Choco Syrup,26/07/2024,$616.09,238
3280,Dotty Strutley,India,Eclairs,28/07/2024,"$2,504.62",397
3281,Karlen McCaffrey,India,70% Dark Bites,23/05/2024,"$5,915.87",355

In [23]:
data.describe()

       Boxes Shipped
count    3282.000000
mean      164.666971
std       124.024736
min         1.000000
25%        71.000000
50%       137.000000
75%       232.000000
max       778.000000

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3282 entries, 0 to 3281
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   3282 non-null   object
 1   Country        3282 non-null   object
 2   Product        3282 non-null   object
 3   Date           3282 non-null   object
 4   Amount         3282 non-null   object
 5   Boxes Shipped  3282 non-null   int64
dtypes: int64(1), object(5)
memory usage: 154.0+ KB

In [25]:
country = data['Country']

In [26]:
type(country)

pandas.core.series.Series

In [27]:
data.loc[23]

Sales Person      Husein Augar
Country                     UK
Product          Drinking Coco
Date                14/03/2022
Amount               $3,003.00
Boxes Shipped              113
Name: 23, dtype: object

In [28]:
data.loc[23:25]

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
23,Husein Augar,UK,Drinking Coco,14/03/2022,"$3,003.00",113
24,Kaine Padly,Australia,Eclairs,28/02/2022,"$7,672.00",115
25,Karlen McCaffrey,India,Fruit & Nut Bars,26/01/2022,$168.00,321

**Data Manipulation Techniques**

In [29]:
# fitering Data. # Addding/modifying columns. # Group By

In [36]:
filtered_data = data [data['Boxes Shipped']>100]
filtered_data

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
3,Jan Morforth,Australia,Peanut Butter Cubes,27/04/2022,"$12,726.00",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24/02/2022,"$13,685.00",184
6,Oby Sorrel,UK,99% Dark & Pure,25/01/2022,"$13,685.00",176
9,Brien Boise,Australia,99% Dark & Pure,04/07/2022,"$2,835.00",102
...,...,...,...,...,...,...
3277,Karlen McCaffrey,Australia,Spicy Special Slims,17/05/2024,"$5,303.58",354
3278,Jehu Rudeforth,USA,White Choc,07/06/2024,"$7,339.32",121
3279,Ches Bonnell,Canada,Organic Choco Syrup,26/07/2024,$616.09,238
3280,Dotty Strutley,India,Eclairs,28/07/2024,"$2,504.62",397
3281,Karlen McCaffrey,India,70% Dark Bites,23/05/2024,"$5,915.87",355

In [37]:
data['Country'].unique()

array(['UK', 'India', 'Australia', 'New Zealand', 'USA', 'Canada'],
      dtype=object)

In [39]:
country_wise_filter = data[data['Country']== "India"]
country_wise_filter.count()

Sales Person     552
Country          552
Product          552
Date             552
Amount           552
Boxes Shipped    552
dtype: int64